*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
  html, body {
    height: 120%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body{
  background-image: url("imagenes/fondo.png")!important;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 120%;
  -webkit-backdrop-filter: blur(2000px);
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.2);
}
body.modo-oscuro {
      background-color: #121212;
      color: #ffffff;
  background-image: url("imagenes/fondo2.png") !important;
    }
img{
  image-rendering: crisp-edges;
}
header{
  display: flex;
  flex-direction: column;
  gap:10px;
}
section{
  display: flex;
  flex-direction: column;
}
.logo{
  width: 200px;
  height: auto;
  clip-path: circle(50% at 50% 50%);
  object-position: center;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transform: translate(-50%, -50%);
  top:10%;
  left:50%;
  animation: expandCircle 1.5s ease forwards;
}
  @keyframes expandCircle {
  0% {
    clip-path: circle(0); /* Totalmente recortado */
  }
  100% {
    clip-path: circle(50% ); /* Sin recorte */
  }
}

.Description{
  position: absolute;
  top: 17%;
  text-align: center;
  left: 17%;
  font-size: 1.4em;
  font-family:  'Poppins', sans-serif;
  flex-direction: column;
  display: flex;
  gap: 15px;
  animation: clipExpand 1.5s ease forwards; /* La animación */
}

@keyframes clipExpand {
  0% {
    clip-path: inset(0 50% 0 50%); /* Totalmente recortado */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Sin recorte */
  }
}

.descripcion_2{
  color: #CCCC00;
}
body.modo-oscuro .descripcion_2{
  color: rgba(255, 255, 0, 1);
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero{
  position: absolute;
  display: flex;
  left: 10%;
  width: 82%;
  height: 5px;
  top: 20%;
  background-color: #873839;
  clip-path: inset(0 100% 0 0); /* Empieza completamente recortado */
  animation: clipExpand 1.5s ease forwards; /* La animación */
}

@keyframes clipExpand {
  0% {
    clip-path: inset(0 50% 0 50%); /* Totalmente recortado */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Sin recorte */
  }
}


.infoCard1,
.infoCard2,
.infoCard3{
  display: none;
  background-color: rgba(140, 150, 140, 0.5);
}
/*imagen del medio */
.imagen4 {
  cursor: pointer;
  position: fixed;
  top: 52%;
  left: 8%;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  clip-path: inset(0 100% 0 0); /* Empieza completamente recortado */
  animation: clipExpand 1.5s ease forwards;
}
@keyframes clipExoand{
  
}
/*imagen de abajo*/
.imagen3 {
  right: 50% ;
  bottom: 10%;
  position: fixed;
  cursor: pointer;
  display: flex;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  clip-path: inset(0 100% 0 0); /* Empieza completamente recortado */
  animation: clipExpand 0.9s ease forwards; /* La animación */
}

@keyframes clipExpand {
  0% {
    clip-path: inset(25% 25% 25% 25%); /* Totalmente recortado */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Sin recorte */
  }
}


.imagen2 {
  cursor: pointer;
  position: fixed;
  top: 30%;
  left: 50%;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  clip-path: inset(0 100% 0 0); /* Empieza completamente recortado */
  animation: clipExpand 0.9s ease forwards; /* La animación */
}

@keyframes clipExpand {
  0% {
    clip-path: inset(25% 25% 25% 25%); /* Totalmente recortado */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Sin recorte */
  }
}

.imagen2:hover {
  transform: rotate(20deg) scale(1.5);
  transition: transform 0.3s ease-in-out;
  
}

.imagen3:hover {
  transform: rotate(20deg) scale(1.5);
  transition: transform 0.3s ease-in-out;
}
.imagen3::after{
   background-color: rgba(255, 255, 0, 0.3); /* Amarillo suave */
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0); /* Centra el círculo y lo escala a 0 */
      transition: transform 0.5s ease, opacity 0.5s ease;
      z-index: 0; 
    }
  .imagen3:hover::after{
    background-color: rgba(255, 255, 0, 0.5); /* Amarillo transparente durante el hover */
    transform: translate(-50%, -50%) scale(4); /* Escala el círculo */
      opacity: 1; /* Hace visible el círculo */
    }

.imagen4:hover {
  transform: rotate(20deg) scale(1.5);
  transition: transform 0.3s ease-in-out;
}
.onda-amarilla1 {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 0, 0.7); /* Amarillo translúcido */
  border-radius: 50%;
  transform: scale(0); /* Iniciar la animación en escala 0 */
  animation: ondaAnimacion 0.9s ease-out forwards; /* Animación */
  z-index: 200;
  left: 50%;
  bottom: 50%!important;
  transform: translate(-50%, -50%) scale(0); /* Centrado y escala 0 */
}

/* Animación para la onda */
@keyframes ondaAnimacion {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(2); /* Escala hasta 2 veces su tamaño */
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(6); /* Escala hasta 5 veces su tamaño */
    opacity: 0;
  }
}


.onda-amarilla2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 0, 0.7); /* Amarillo translúcido */
  border-radius: 50%;
  transform: scale(0); /* Iniciar la animación en escala 0 */
  animation: ondaAnimacion 0.6s ease-out forwards; /* Animación */
  pointer-events: none;
  z-index: 200;
  left: 73%;
  top: 40%;
  transform: translate(-50%, -50%) scale(0); /* Centrado y escala 0 */
}

/* Animación para la onda */
@keyframes ondaAnimacion {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(2); /* Escala hasta 2 veces su tamaño */
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(5); /* Escala hasta 5 veces su tamaño */
    opacity: 0;
  }
}

.onda-amarilla3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 0, 0.7); /* Amarillo translúcido */
  border-radius: 50%;
  transform: scale(0); /* Iniciar la animación en escala 0 */
  animation: ondaAnimacion 0.6s ease-out forwards; /* Animación */
  pointer-events: none;
  z-index: 200;
  left: 33%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0); /* Centrado y escala 0 */
}


.infoCard1{
  position: fixed;
  bottom: 54%;
  left: 34%;
  width: 400px;
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius:  60px 60px 60px;
  display: none; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 11;
}
body.modo-oscuro .infoCard1{
  background-color: rgba(0, 0, 140, 0.5);
}
.infoBaja1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0 0 10px;
}
.Precio1{
  font-family: 'Roboto', sans-serif;
  font-weight: 780; /* Más grueso */
  color: yellow;
  text-align: center;
  margin: 0 0 10px;
  margin: 0 0 10px;
  text-decoration: line-through blue; /* Dibuja una línea sobre el texto */
  text-decoration-thickness: 2px; /* Ajusta el grosor de la línea */
  color: #555; /* Cambia el color del texto si es necesario */
  font-size: 1.5em;
}
.Precio-final1{
  position: fixed;
  left:70%;
  bottom: 30%;
  font-size: 1.8em;
  color: #E8426D;
}
.modo-oscuro .Precio-final1{
  color: #28A745;
}

/*imagen final */
.infoCard2{ 
  position: absolute;
  right: 55%;
  top: 85%;
  width: 380px;
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 60px;
  display: none; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 11;
}
body.modo-oscuro .infoCard2{
  background-color: rgba(0, 0, 140, 0.5);
}
.infoBaja2{
  font-family: 'Roboto', sans-serif;
  font-weight: 420;
  color: #333;
  margin: 0 0 10px;
  font-size: 70px !important;
  width: 300px;
}

.Precio2{
  font-family: 'Roboto', sans-serif;
  font-weight: 780;
  color: yellow;
  text-align: center;
  margin: 0 0 10px;
  text-decoration: line-through blue ; /* Dibuja una línea sobre el texto */
  text-decoration-thickness: 2px; /* Ajusta el grosor de la línea */
  color: #555; /* Cambia el color del texto si es necesario */
  font-size: 1.5em; /* Ajusta el tamaño de la fuente según tu diseño */
}
.Preciof2{
  position: fixed;
  left:70%;
  bottom: 30%;
  font-size: 1.8em;
  color:#E8426D;
}
.modo-oscuro .Preciof2{
  color: #28A745;
}
/*imagen del medio */
.infoCard3{
  position: fixed;
  right: 60%;
  top: 66%;
  width: 380px;
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 60px;
  display: none; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 11;
}
body.modo-oscuro .infoCard3{
  background-color: rgba(0, 0, 140, 0.5);
}
.infoBaja3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0 0 10px;
}

.Precio3{
  font-family: 'Roboto', sans-serif;
  font-weight: 780; /* Más grueso */
  color: yellow;
  text-align: center;
  margin: 0 0 10px;
  margin: 0 0 10px;
  text-decoration: line-through blue; /* Dibuja una línea sobre el texto */
  text-decoration-thickness: 2px; /* Ajusta el grosor de la línea */
  color: #555; /* Cambia el color del texto si es necesario */
  font-size: 1.5em;
}
.Preciof3{
  position: fixed;
  left:70%;
  bottom: 30%;
  font-size: 1.8em;
  color: #E8426D;
}
.modo-oscuro .Preciof3{
  color: #28A745;
}
.Oferta1{
  z-index: 14;
  color: black;
  font-size: 16px;
  
  text-shadow:
  0 0 5px #39FF14,
  0 0 10px #32CD32,
  0 0 20px #39FF14,
  0 0 40px #32CD32;
}

.Oferta2{
  z-index: 14;
  color: black;
  font-size: 16px;
  
  text-shadow:
  
  0 0 5px #39FF14,
  0 0 10px #32CD32,
  0 0 20px #39FF14,
  0 0 40px #32CD32;
}
.Oferta3{
  z-index: 14;
  color:#101010;
  font-size: 16px;
  
  text-shadow:
  
  0 0 5px #39FF14,
  0 0 10px #32CD32,
  0 0 20px #39FF14,
  0 0 40px #32CD32;
}
footer{
  height: 165px;
  position: fixed;
  background-color: #333333B3;
  display: block;
  align-items: center;
  width: 100%;
  top:96%;
}
.iconos{
  position: fixed;
  display: flex;
  left:35%;
  font-size: 40px;
  flex-direction: row;
  grid: 300px;
  gap: 75px;
  justify-content: space-between;
}
.linea{
  width: 50%;
  height: 5px;
  background-color: #FFFF00;
position: fixed;
top:98%;
  left: 23%;
}
#instagram{
  color: white;
  overflow: hidden;
  background: linear-gradient(45deg,#8134AF,#DD2A7B, #FEDA77, #515BD4);
  border-radius: 24px 24px 30px;
}
#whatsapp{
  color: white;
  overflow: hidden;
  background-color: #25D366;
  border-radius: 32px 30px 30px;
}
#mensaje{
  color: white;
}
.descripcion-final{
  font-size: 30px;
  font-weight: 32px;
  position: fixed;
  display: block;
  top:99%;
  left: 33%;
}
.toggle-button{
  position: fixed;
      top: 20px;
      right: 50px;
      padding: 10px 20px;
  width: 80px;
  height: 80px;
      background-color: #ffd700; /* Color inicial: Sol */
      color: #fff;
      border: none;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.6), 0 0 40px rgba(255, 215, 0, 0.3);
  cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
}
.toggle-button:hover{
  background-color: #444;
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.8), 0 0 50px rgba(255, 215, 0, 0.5);
}

  .modo-oscuro .toggle-button {
  background-color: #f0f0f0; /* Luna blanca */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.2);

}

.modo-blanco .toggle-button{
  background-color: #fff;
      color: #000;
}
/* Cráteres pequeños en la luna */

.modo-oscuro .toggle-button::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15); /* Sombra de los cráteres */
  box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.3), 
    -2px -2px 5px rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.modo-oscuro .toggle-button::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 30%;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 
    10px 10px 0 rgba(0, 0, 0, 0.1), 
    -15px -15px 0 rgba(0, 0, 0, 0.05),
    20px -10px 0 rgba(0, 0, 0, 0.07);
}